@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
  color: rgba(255, 255, 255, 0.87);
  background-color: #2b2d42;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 2.2px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
