.navbar {
  background-color: #ba904d;
  height: 3.9rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ba904d;
  margin-left: 1rem;
  text-align: center;
  margin-bottom: 25px;
}

.pageLogo {
  display: block;
  max-width: 290px;
  max-height: 190px;
  background-color: #ba904d;
}

.trending-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  overflow-x: auto;
  scrollbar-width: thin;
}

.movie-item {
  flex: 0 0 auto;
  text-align: center;
}

h4 {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}